script.
	var scoreArray = "#{scoreArray}";
	scoreArray = scoreArray.split(',');
	var usernameArray = "#{usernameArray}";
	usernameArray = usernameArray.split(',');
	console.log(usernameArray);
	console.log(scoreArray);
include header
body
	div.start-container
		h1 Overwatch Card Match
		p Click&nbsp;on a card to flip it&nbsp;over. If you turn over two matching&nbsp;cards, you get to keep&nbsp;them; if&nbsp;they don't match, they get flipped&nbsp;back. Every&nbsp;fifteen seconds, the&nbsp;cards will&nbsp;reshuffle. Match all sixteen cards to&nbsp;win! View&nbsp;in full-page mode to&nbsp;play.
		button#start Start
	div.menu-container
		div.score-container Score
			span.score
		div.time-container Time 
			span.time :
		div.reset-container
			button#reset Reset
	div.message-container
		div.message-text-box
			div.message-text
	div.game-container
		div.cards-container
			div.mg-contents
	div.scoreboard-container
		div.score-board
			table
				thead
					tr
						th Name
						th Score
				tbody.userdata
		//- div.username-container
		//- 	div.winning-msg
		//- 	form.name
		//- 		input.name-input(type="text" name="username" placeholder="Username")
		//- 		button.name-btn(type="button") Submit
		//- 	div.form-msg
	audio.sound-1(src="voiceline/Mei.wav")
	audio.sound-4(src="voiceline/Mercy.wav")
	audio.sound-3(src="voiceline/Reaper.wav")
	audio.sound-2(src="voiceline/widow.wav")
	audio.victory(src="voiceline/Victory.mp3")

	
